.text-field {
	-fx-alignment: center-right;
	-fx-border-style: solid;
}

.text-field, .button {
	-fx-font-size: 15.0px;
	-fx-pref-height: 50.0px;
}

.button {
	-fx-pref-width: 50.0px;
	-fx-border-style: dotted;
}

.mainPane {
	-fx-padding: 15.0px;
	-fx-background-color: linear-gradient( from 100.0% 0.0% to 100.0% 100.0%, rgb(255.0,255.0,255.0) 0.0, rgb(179.0,179.0,179.0) 100.0);
}

.buttonPane {
	-fx-hgap: 5.0px;
	-fx-vgap: 5.0px;
	-fx-padding: 15.0px 0.0px 0.0px 0.0px;
}

.equalsButton {
	-fx-max-height: 105.0px;
	-fx-background-color: lightgreen;
}

.zeroButton, .equalsButton {
	-fx-max-width: 160.0px;
}

.equalsButton:hover {
	-fx-background-color: rgb(38.0,226.0,29.0);
}